
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="myModule">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body>
    <div ng-controller="SchoolController">
        <div ng-controller="StudentController">
            In Student {{message}}
        </div>
        <div ng-controller="TeacherController">
            In Teacher {{message}}
        </div>
        From School {{message}}
    </div>
    
</body>
</html>